{"twitter":
  {"consumerKey": "",
  "consumerSecret": "",
  "token" : "",
  "tokenSecret" : ""},
 "IBMtwitterInsights" :
 {
   "username": "",
   "password": "",
   "host": "cdeservice.mybluemix.net",
   "port": 443,
   "url": ""
 }
}

